<head>
  <title><%= @person.name %>'s <%= @title %></title>
  <link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' type='text/css' href='css/custom.css'/>
  <script type="text/javascript" src="js/custom.js"></script>
</head>
<body>

  <h1>Hi I'm <span class="font"><%= @person.name %></h1>

  <%= yield %>

  <footer>
    <%= erb :_footer %> 
  </footer>
</body>